@import "./../../../variables.scss";
@-webkit-keyframes fadeIn-7 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn-7 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.channel-7 {
  &.hidden {
    display: none;
  }

  &.active {
    .wrapper {
      background: $pcolor0;
      @include abs-expand;
      .logo {
        position: absolute;
        bottom: 0;
        left: 0;
        max-width: 200px;
        z-index: 1;
        padding: 2%;
        opacity: 0.7;
      }
      .globe-wrapper {
        animation: fadeIn-7 2s linear forwards;
        cursor: pointer;
      }
      .modal {
        background: rgba(0, 0, 0, 0.5);
        width: 100%;
        max-width: 960px;
        position: absolute;
        z-index: 1;
        top: 5%;
        bottom: 5%;
        overflow: hidden;

        @media screen and (min-width: 960px) {
          left: 50%;
          margin-left: -480px;
        }

        h4 {
          color: $pcolor1;
          font-size: 34px;
          text-align: left;
          text-transform: uppercase;
          margin: 0;
          background: rgba(0, 0, 0, 0.25);
          z-index: 2;
          width: 100%;
          height: 80px;
          display: flex;
          align-items: center;
          .city {
            margin-left: 30px;
          }
          .flag {
            display: inline-block;
            opacity: 0.5;

            height: 80px;
          }
          .close-icon {
            cursor: pointer;
            color: #fff;
            position: absolute;
            right: 25px;

            font-size: 42px;
          }
        }
        .slick-slider {
          height: 90%;
          button.slick-arrow.slick-next {
            height: 100%;
            right: 0;
            background: rgba(0, 0, 0, 0.5);
            width: 50px;
            z-index: 1;
            &:before {
              font-size: 30px;
            }
          }
          button.slick-arrow.slick-prev {
            height: 100%;
            left: 0;
            background: rgba(0, 0, 0, 0.5);
            width: 50px;
            z-index: 1;
            &:before {
              font-size: 30px;
            }
          }
          .slick-slide {
            img.vert {
              width: auto !important;
              height: 80vh;
            }
          }
        }
      }
    }
  }
}
