@import './../../../variables.scss';



.channel-2 {
    background: #111;
    &.hidden {
        display: none;
    }

 
   &.active {
        .wrapper {
            position: absolute;
            top: 0;
            bottom: 0;
            right: 0;
            left: 0;
            background: url('https://images.squarespace-cdn.com/content/v1/539202fee4b07e80b7d73014/1496465693236-4VWICQKORA6614YRA8ID/ke17ZwdGBToddI8pDm48kDEDYh4Y0JGhR6hzuwcJ44gUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcz6bs2FkMoqlrQIzq4g5ogDqXr_T7rMikH_TfPkEE4wwzGwe9KEhUq6A0DxOZf-75/image-asset.jpeg');
            background-size: cover;
        }
    }

 
}