@import "./../../../variables.scss";

.channel-2 {
  background: #e7b631;
  &.hidden {
    display: none;
  }

  &.active {
    .wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}
