@import "./../../../variables.scss";

@-webkit-keyframes ray-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes ray-2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-2 {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(360deg);
  }
}
@keyframes spin-2 {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes move-2 {
  10% {
    left: 50%;
    top: 50%;
  }
  100% {
    left: 200%;
    top: 200%;
  }
}
@keyframes move-2 {
  10% {
    left: 50%;
    top: 50%;
  }
  100% {
    left: 200%;
    top: 200%;
  }
}
@-webkit-keyframes grow-2 {
  0% {
    transform: scale(0);
  }

  15% {
    transform: scale(1);
  }
  100% {
    left: 50%;
    top: 50%;
  }
}
@keyframes grow-2 {
  0% {
    transform: scale(0);
  }

  15% {
    transform: scale(1);
  }
  100% {
    left: 50%;
    top: 50%;
  }
}
.channel-2 {
  background: radial-gradient(farthest-side, #40beeb, $pcolor0);
  &.hidden {
    display: none;
  }

  &.active {
    .wrapper {
      @include abs-expand;
      .block-group {
        background: $pcolor1;
        text-align: left;
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: 100vh;
        position: relative;
        z-index: 1;
        width: 100%;
        @media screen and (min-width: 600px) {
          max-width: 400px;
        }
        .block {
          position: relative;
          margin-bottom: 10px;
          h3 {
            background: #40beeb;
            color: $pcolor1;
            padding: 3px;
            text-align: center;
            margin: 0;
          }
          &.block-1 {
            display: inline-grid;
            justify-content: center;
            align-items: center;
            height: 140px;
            width: 100%;
            background: #fff;
            margin: 0;
            .logo {
              max-width: 200px;
              width: 100%;
            }
          }
          &.block-4 {
            margin-bottom: 100px;
            img {
              width: 100%;
              margin-top: 15px;
              box-shadow: 0 0 8px $pcolor0;
            }
          }
          ul {
            list-style: square;
            li {
              margin: 5px 0;
            }
          }
          .content {
            padding: 20px 30px;
            margin: 0;
          }
        }
      }

      .projects {
        @include abs-expand;
        left: 30%;
        display: none;

        @media screen and (min-width: 1280px) {
          left: 0;
        }
        @media screen and (min-width: 960px) {
          display: block;
        }
        .website {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 400px;
          margin-left: -200px;
          margin-top: -115px;
          display: none;
          box-shadow: 0 0 30px $pcolor0;

          &.active {
            display: block;
            -webkit-animation: grow-2 8s linear forwards;
            animation: grow-2 8s linear forwards;
          }
          &.spin-out {
            -webkit-animation: move-2 1.5s forwards, spin-2 250ms linear infinite;
            animation: move-2 1.5s forwards, spin-2 250ms linear infinite;
          }
        }
      }
      .sun {
        @include abs-expand;
        left: 30%;
        margin: auto;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: white;
        opacity: 0.9;
        box-shadow: 0px 0px 40px 15px white;
        @media screen and (min-width: 1280px) {
          left: 0;
        }

        .ray-box {
          position: absolute;
          margin: auto;
          top: 0px;
          left: 0;
          right: 0;
          bottom: 0;
          width: 70px;
          -webkit-animation: ray-2 10s linear infinite;
          animation: ray-2 10s linear infinite;

          .ray {
            background: linear-gradient(
              to top,
              rgba(255, 255, 255, 0) 0%,
              rgba(255, 255, 255, 0.8) 50%,
              rgba(255, 255, 255, 0) 100%
            );
            margin-left: 10px;
            border-radius: 80% 80% 0 0;
            position: absolute;
            opacity: 0.1;
          }
          .ray-0 {
            height: 290px;
            width: 8px;
            transform: rotate(150deg);
            top: -230px;
            left: -60px;
          }
          .ray-1 {
            height: 270px;
            width: 22px;
            transform: rotate(180deg);
            top: -235px;
            left: 15px;
          }
          .ray-2 {
            height: 200px;
            width: 8px;
            transform: rotate(220deg);
            top: -140px;
            left: 75px;
          }
          .ray-3 {
            height: 270px;
            width: 28px;
            transform: rotate(250deg);
            top: -150px;
            left: 130px;
          }
          .ray-4 {
            height: 220px;
            width: 14px;
            transform: rotate(305deg);
            top: -20px;
            left: 110px;
          }
          .ray-5 {
            height: 240px;
            width: 22px;
            transform: rotate(-15deg);
            top: 30px;
            left: 45px;
          }
          .ray-6 {
            height: 190px;
            width: 15px;
            transform: rotate(30deg);
            top: 30px;
            left: -40px;
          }
          .ray-7 {
            height: 280px;
            width: 10px;
            transform: rotate(70deg);
            top: -50px;
            left: -110px;
          }
          .ray-8 {
            height: 140px;
            width: 25px;
            transform: rotate(90deg);
            top: -35px;
            left: -70px;
          }
          .ray-9 {
            height: 80px;
            width: 10px;
            transform: rotate(120deg);
            top: -35px;
            left: -30px;
          }
          .ray-10 {
            height: 80px;
            width: 10px;
            transform: rotate(95deg);
            top: 0px;
            left: 80px;
          }
          .ray-11 {
            height: 100px;
            width: 10px;
            transform: rotate(10deg);
            top: 55px;
            left: 10px;
          }
        }
      }
    }
  }
}
