@import "./../../variables.scss";
.jh-logo {
  font-family: "Arimo", sans-serif;
  font-size: 80px;
  color: $pcolor1;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  &.hidden {
    display: none;
  }
  .j-letter {
    border-bottom: 8px solid;
    width: 60px;
    display: inline-block;
  }
  .h-letter {
    border-top: 8px solid;
    width: 60px;
    display: inline-block;
  }
  .tv-text {
    font-size: 18px;
  }
}
