@import "./../../../variables.scss";

.channel-4 {
  background: radial-gradient(farthest-side, #ff140f, #000);
  img {
    max-width: 300px;
  }
  &.hidden {
    display: none;
  }

  &.active {
    .wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
    }
  }
}
