@import "./../../../variables.scss";

@-webkit-keyframes changePic-1 {
  0% {
    background: url("./../../../assets/img/channel-1/marilyn-monroe.jpg");
    background-size: cover;
  }
  50% {
    background: url("./../../../assets/img/channel-1/marilyn-monroe-50.jpg");
    background-size: cover;
  }
  100% {
    background: url("./../../../assets/img/channel-1/marilyn-monroe-100.jpg");
    background-size: cover;
  }
}
@keyframes changePic-1 {
  0% {
    background: url("./../../../assets/img/channel-1/marilyn-monroe.jpg");
    background-size: cover;
  }
  50% {
    background: url("./../../../assets/img/channel-1/marilyn-monroe-50.jpg");
    background-size: cover;
  }
  100% {
    background: url("./../../../assets/img/channel-1/marilyn-monroe-100.jpg");
    background-size: cover;
  }
}
@-webkit-keyframes powerOn-1 {
  0% {
    width: 80px;
    height: 40px;
  }

  15% {
    filter: blur(0);
    border-radius: 0;
  }

  25% {
    filter: blur(0);
    border-radius: 0;
    width: 100%;
    height: 5px;
  }

  50% {
    filter: blur(0);
    border-radius: 0;
    background: url("../../../assets/img/bw-static.gif");
    width: 100%;
    height: 100%;
    opacity: 0.75;
  }

  100% {
    filter: blur(0);
    border-radius: 0;
    background: url("../../../assets/img/bw-static.gif");
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
  }
}
@keyframes powerOn-1 {
  0% {
    width: 80px;
    height: 40px;
  }

  15% {
    filter: blur(0);
    border-radius: 0;
  }

  25% {
    filter: blur(0);
    border-radius: 0;
    width: 100%;
    height: 5px;
  }

  50% {
    filter: blur(0);
    border-radius: 0;
    background: url("../../../assets/img/bw-static.gif");
    width: 100%;
    height: 100%;
    opacity: 0.75;
  }

  100% {
    filter: blur(0);
    border-radius: 0;
    background: url("../../../assets/img/bw-static.gif");
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn-1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
@keyframes fadeIn-1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.channel-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &.hidden {
    display: none;
  }

  &.animate {
    .wrapper {
      -webkit-animation: fadeIn-1 1.5s ease-in forwards;
      animation: fadeIn-1 1.5s ease-in forwards;
    }
  }

  &.active {
    .wrapper {
      @include abs-expand;
    }
  }

  .intro {
    width: 0px;
    background: $pcolor1;
    height: 0px;
    filter: blur(4px);
    border-radius: 50%;
    box-shadow: 0px 0px 20px $pcolor1;

    &.animate {
      -webkit-animation: powerOn-1 750ms linear forwards;
      animation: powerOn-1 750ms linear forwards;
    }
    &.hidden {
      display: none;
    }
  }

  .scene {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #f1f1f1;
    perspective: 600px;
    overflow: hidden;
    background: $pcolor0;
    .left-wall {
      width: 100%;
      height: 100%;
      position: relative;
      transform-origin: center;
      left: 0%;
      background: #f1f1f1;
      border: 2px solid $pcolor0;
      display: flex;
      @media screen and (min-width: 960px) {
        width: 100%;
        height: 105%;
        position: absolute;
        transform: translate3d(-20%, 0%, -310px) rotateY(30deg);
        transform-origin: center;
        align-items: center;
      }

      .content {
        position: relative;

        align-items: center;
        text-align: justify;
        line-height: 1.2;
        padding: 25px 25px 140px;
        overflow: scroll;
        @media screen and (min-width: 960px) {
          display: flex;
          left: 15%;
          padding: 0;
          min-width: 730px;
          width: 75%;
          max-width: 1100px;
        }
        .intro-text {
          margin: 0;
          @include fluid-type($min_width, $max_width, 16px, 24px);
        }
        .portrait {
          max-width: 350px;
          margin: 0 auto;

          @media screen and (min-width: 960px) {
            margin-right: 30px;
            width: 100%;
            min-width: 325px;
          }

          .email {
            margin: 8px 0px 25px;
            color: $pcolor0;
            display: block;
            font-style: italic;
            text-decoration: none;
            text-align: center;
            &:hover {
              text-decoration: underline;
            }
          }
          .img-wrapper {
            border: 15px solid #333;
            box-shadow: 0 0 10px $pcolor0;

            img {
              display: block;
              width: 100%;
            }
          }
        }

        .contact {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 20px;
          max-width: 450px;
          .resume {
            font-family: "Cookie", cursive;
            font-size: 2.8rem;
            text-decoration: none;
            color: $pcolor0;
          }
          svg {
            font-size: 40px;
            margin: 0 20px;
            color: $pcolor0;
          }
        }
      }
    }
    .light-cans {
      position: absolute;
      left: 34%;
      width: 180px;
      top: 146px;
      z-index: 1;
      &.can-1 {
        top: 267px;
        transform: rotateY(45deg);
      }
      &.can-2 {
        top: 267px;
        left: 12%;
        transform: rotateY(45deg);
      }
      &.can-3 {
        transform: rotateY(-180deg);
        height: 80px;
        width: 140px;
        top: 142px;
      }
    }
    .ceiling {
      display: none;
      transform: rotateY(28deg) rotateX(-90deg) translate3d(10%, -5%, -240px);
      transform-origin: center;
      background: #111;
      width: 100%;
      height: 121%;
      position: absolute;
      @media screen and (min-width: 960px) {
        display: block;
      }
      .beam {
        height: 25px;
        width: 100%;
        background: linear-gradient(to bottom, #37374b 0%, #464757 100%);
        position: absolute;
        &.beam-1 {
          top: 375px;
        }
        &.beam-2 {
          top: 250px;
        }
        &.beam-3 {
          top: 125px;
        }
        &.beam-4 {
          top: 0;
        }
        .inner {
          height: 5px;
          width: 100%;
          background: linear-gradient(to bottom, #766f76 0%, #464757 100%);
          position: relative;
          top: 25px;
        }
        .inner-2 {
          height: 10px;
          width: 100%;
          background: #1b1820;
          position: relative;
          top: 25px;
        }
        .inner-3 {
          height: 5px;
          width: 100%;
          background: linear-gradient(to bottom, #766f76 0%, #464757 100%);
          position: relative;
          top: 25px;
        }
      }
    }
    .right-wall {
      display: none;
      justify-content: space-evenly;
      align-items: center;
      width: 100%;
      height: 119.5%;
      background: #f1f1f1;
      transform: translate3d(52%, -8%, -300px) rotateY(-60deg);
      transform-origin: center;
      position: absolute;
      right: 0%;
      border: 2px solid $pcolor0;
      box-shadow: 0 0 20px $pcolor0;
      @media screen and (min-width: 960px) {
        display: flex;
      }

      .picture-other {
        max-width: 25%;
        bottom: 5%;
        position: relative;
        height: 40%;
        width: 100%;
        img {
          @include abs-expand;
          width: 100%;
          display: block;
          border: 4px solid #f1f1f1;
        }
      }
      .picture-monroe {
        max-width: 30%;
        width: 100%;
        position: relative;
        height: 100%;
        max-height: 44%;

        .image {
          background: url("./../../../assets/img/channel-1/marilyn-monroe.jpg");
          @include abs-expand;
          background-size: cover;
          display: block;
          width: 100%;
          border: 4px solid #f1f1f1;
          box-shadow: 0 0 10px $pcolor0;
          -webkit-animation: changePic-1 4s infinite both alternate;
          animation: changePic-1 4s infinite both alternate;
        }
      }
    }
    .floor {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: url("./../../../assets/img/channel-1/concrete-floor.jpg");
      background-size: cover;
      transform: translate3d(0%, 91.5%, 80px) rotateX(90deg) rotateZ(-30deg);
      transform-origin: left top;
      left: 0%;
      border: 2px solid $pcolor0;
      @media screen and (min-width: 960px) {
        display: block;
      }
    }
  }
}
