@import "./../../../variables.scss";

.channel-number {
  color: $pcolor1;
  @include fluid-type($min_width, $max_width, 40px, 60px);
  position: absolute;
  z-index: 2;
  top: 2%;
  right: 4%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 0px 5px $pcolor0;
  @media screen and (min-width: 600px) {
    right: 2%;
  }
}
