@import './../../variables.scss';



.guide-component {

    background: dodgerblue;
    position: relative;
    z-index: 1;
    width: 80%;
    margin: 20px auto;
    overflow: scroll;
    max-height: 100vh;

    ul {
        list-style: none;
        margin: 10px 25px 100px;
        padding: 0;

        li {
            a {
                display: flex;
                padding: 20px 0px;
                border-bottom: 1px solid #000;
                text-decoration: none;
                color: #fff;
                align-items: center;

                &:hover {
                    background: #454545;

                }

                img {
                    width: 100px;
                    padding: 0 20px;
                }

                .guide-number {
                    padding: 0 20px;
                    font-size: 32px;
                    border-left: 1px solid #fff;
                    margin-right: 15px;
                }
                .guide-name{
                	font-size: 32px;
                }
            }
        }

    }
}