@import "./../../../variables.scss";

@-webkit-keyframes ray-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes ray-3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-3 {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(360deg);
  }
}
@keyframes spin-3 {
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(360deg);
  }
}
@-webkit-keyframes move-3 {
  10% {
    left: 50%;
    top: 50%;
  }
  100% {
    left: 200%;
    top: 200%;
  }
}
@keyframes move-3 {
  10% {
    left: 50%;
    top: 50%;
  }
  100% {
    left: 200%;
    top: 200%;
  }
}
@-webkit-keyframes grow-3 {
  0% {
    transform: scale(0);
  }

  15% {
    transform: scale(1);
  }
  100% {
    left: 50%;
    top: 50%;
  }
}
@keyframes grow-3 {
  0% {
    transform: scale(0);
  }

  15% {
    transform: scale(1);
  }
  100% {
    left: 50%;
    top: 50%;
  }
}
.channel-3 {
  background: radial-gradient(farthest-side, #ff6413, $pcolor0);
  &.hidden {
    display: none;
  }

  &.active {
    .wrapper {
      @include abs-expand;
      .block-group {
        background: $pcolor1;
        text-align: left;
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: 100vh;
        position: relative;
        z-index: 1;
        width: 100%;
        @media screen and (min-width: 600px) {
          max-width: 400px;
        }
        .block {
          position: relative;
          margin-bottom: 10px;
          h3 {
            background: #ff6413;
            color: $pcolor1;
            padding: 3px;
            text-align: center;
            margin: 0;
          }
          &.block-1 {
            display: inline-grid;
            justify-content: center;
            align-items: center;
            height: 140px;
            width: 100%;
            background: #fff;
            margin: 0;
            .logo {
              max-width: 200px;
              width: 100%;
            }
          }
          &.block-4 {
            margin-bottom: 120px;
            img {
              width: 100%;
              margin-top: 15px;
              box-shadow: 0 0 8px $pcolor0;
            }
            .caption {
              text-align: center;
              display: block;
              font-style: italic;
              font-size: 14px;
            }
          }
          ul {
            list-style: square;
            li {
              margin: 5px 0;
            }
          }
          .content {
            padding: 20px 30px;
            margin: 0;
          }
        }
      }

      .projects {
        @include abs-expand;
        left: 30%;
        display: none;
        @media screen and (min-width: 960px) {
          display: block;
        }
        @media screen and (min-width: 1280px) {
          left: 0;
        }
        .website {
          position: absolute;
          top: 50%;
          left: 50%;
          width: 400px;
          margin-left: -200px;
          margin-top: -127px;
          display: none;
          box-shadow: 0 0 30px $pcolor0;
          img {
            width: 100%;
            display: block;
          }
          .link {
            bottom: 0;
            width: 98%;
            background: #ff6413;
            color: $pcolor1;
            display: inline-block;
            padding: 1%;
            font-weight: bold;
            text-align: center;
          }
          &.active {
            display: block;
            -webkit-animation: grow-3 8s linear forwards;
            animation: grow-3 8s linear forwards;
          }
          &.spin-out {
            -webkit-animation: move-3 1.5s forwards, spin-3 250ms linear infinite;
            animation: move-3 1.5s forwards, spin-3 250ms linear infinite;
          }
        }
      }
    }
  }
}
