@import "./variables.scss";

body {
  @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

.App {
  text-align: center;
  @include abs-expand;
  border: 30px solid #1a1a1a;

  &:before {
    content: "";
    @include abs-expand;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
  }
  .overflow-wrapper {
    overflow: hidden;
    @include abs-expand;
  }

  .channels {
    @include abs-expand;
    overflow: hidden;
  }

  .on-off-light {
    display: inline-block;
    width: 55px;
    height: 10px;
    background: $pcolor1;
    position: absolute;
    bottom: -30px;
    left: 0;
    filter: blur(1.5px);
  }

  .lg-logo {
    width: 40px;
    position: absolute;
    bottom: -25px;
    left: 49%;
  }
}
