@import "./../../../variables.scss";
@-webkit-keyframes morph-9 {
  0% {
    border-radius: 40% 90% 40% 60%;
  }
  100% {
    border-radius: 120% 45% 150% 45%;
  }
}

@keyframes morph-9 {
  0% {
    border-radius: 40% 90% 40% 90%;
  }
  100% {
    border-radius: 120% 45% 120% 45%;
  }
}
@-webkit-keyframes fadeIn-9 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn-9 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeInVideo-9 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeInVideo-9 {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0.3;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    opacity: 0;
  }
}
.channel-9 {
  background: $pcolor0;

  &.hidden {
    display: none;
  }

  &.active {
    background-image: url("./../../../assets/img/channel-9/blue-sky.jpg");
    background-repeat: repeat;
    .wrapper {
      -webkit-animation: fadeIn-G 1s linear forwards;
      animation: fadeIn-G 1s linear forwards;
      @include abs-expand;
    }
  }

  .sky {
    @include abs-expand;
    z-index: 1;
    width: 100%;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
    video {
      position: absolute;
      display: inline-block;
      border-radius: 50%;
      max-width: 300px;
      -webkit-animation: fadeInVideo-9 linear, morph-9 3s ease-in-out infinite both alternate;
      animation: fadeInVideo-9 linear, morph-9 3s ease-in-out infinite both alternate;
      box-shadow: 0 0 50px #ccc;
    }
    .quote {
      position: absolute;

      @include fluid-type($min_width, $max_width, 16px, 28px);
      line-height: 1;
      font-style: italic;
      max-width: 600px;
      display: inline-block;
      text-align: left;
      -webkit-animation: fadeIn-9 ease forwards;
      animation: fadeIn-9 ease forwards;
      .author {
        display: inline-block;
        margin-top: 10px;
        font-family: "Kalam", cursive;
        @include fluid-type($min_width, $max_width, 14px, 24px);
        font-style: normal;
        text-align: right;
        width: 100%;
      }
      &:before {
        content: "\201C";
        position: absolute;
        top: -50%;
        left: -10%;
        color: $pcolor0;
        opacity: 0.25;
        @include fluid-type($min_width, $max_width, 70px, 120px);
        z-index: -1;
      }
    }
  }
  .meditation {
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    @media screen and (min-width: 600px) {
      bottom: -30%;
    }
  }
}
